.profileLayout {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
  max-width: 1440px;
}

.profileLayoutOutline {
  width: 80%;
}

.mobileSidebarDisplay {
  display: none;
}

.sidebarDisplay {
  display: flex;
}

@media screen and (max-width: 768px) {
  .profileLayout {
    width: 90%;
  }
}

@media screen and (max-width: 425px) {
  .profileLayoutOutline {
    width: 100%;
  }
  .mobileSidebarDisplay {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 10px auto;
  }
  .sidebarDisplay {
    display: none;
  }
}
