.footerShadow {
  border: 1px solid #ebebeb;
  max-width: 1440px;
  margin: 0 auto;
}

.footer {
  width: 80%;
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.eachFooterColumn > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-decoration-line: underline;
  cursor: pointer;
}

.eachFooterColumn > span {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #969696;
}

.FooterSocialMedia {
  display: flex;
  align-items: center;
  gap: 10px;
}

.eachFooterColumn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.eachFooterColumn > img {
  width: 140px;
  height: 40px;
  cursor: pointer;
}

.FooterSocialMedia > svg {
  cursor: pointer;
}

.mobileCC {
  display: none;
}

@media screen and (max-width: 768px) {
  .footer {
    width: 90%;
  }
  .mobileC {
    display: none;
  }
  .mobileCC {
    display: flex;
    width: 90%;
    margin: 0 auto 20px auto;
  }
  .mobileCC > span {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #969696;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .mobileCC {
    justify-content: center;
  }
  .eachFooterColumn {
    align-items: center;
  }
  .navPath > ul {
    flex-wrap: wrap;
  }
}
