.mainSlider {
  position: relative;
  overflow: hidden;
}

.slider {
  display: flex;
  margin: 40px 0;
}

.eachSlide {
  min-width: 270px;
  height: 150px;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

.eachSlide > span {
  position: absolute;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  bottom: 30px;
  left: 20px;
}

.eachSlide > img {
  width: 98px;
  height: 98px;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.main {
  position: relative;
  width: 100%;
}

.mainSliderPrev {
  left: 220px;
  top: 32%;
  z-index: 1;
}

.mainSliderNext {
  right: 220px;
  top: 32%;
  z-index: 1;
}

.styles-module_item-tracker__3bypy {
  gap: 20px;
}

.styles-module_item-container__a8zaY {
  width: 380px !important;
}

/* .styles-module_item-tracker__3bypy{
  transform: translateX(-1140.57px);
} */

@media screen and (max-width: 768px) {
  .slider {
    margin: 40px 20px;
  }
  .eachSlide {
    min-width: 330px;
  }
  .eachSlide > img {
    width: 80px;
    height: 80px;
  }
  .eachSlide > span {
    font-size: 18px;
    line-height: 25px;
  }
  .mainSliderNext {
    right: 40px;
  }
  .mainSliderPrev {
    left: 40px;
  }
}
